@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*{
  box-sizing: border-box;
}

html{
  font-size:20px;
}

html, button{
  font-family: "Quicksand", "sans-serif";
}

body {
  background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
