<div class="create-product-form">
    <h2>Create Product</h2>
    <form (ngSubmit)="validateForm(); createProduct()">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="product.name" name="name" required>
      </div>
      <div class="category-container">
        <label for="category">Category:</label>
        <input type="radio" id="hardware" name="category" [(ngModel)]="product.category" value="Hardware">
        <label for="hardware">Hardware</label>
        <input type="radio" id="software" name="category" [(ngModel)]="product.category" value="Software">
        <label for="software">Software</label>
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="product.price" name="price" required>
      </div>
      <div>
        <label for="image">Image URL:</label>
        <input type="text" id="image" [(ngModel)]="product.image" name="image" required>
      </div>
      <div>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" [(ngModel)]="product.stock" name="stock">
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="product.description" name="description"></textarea>
      </div>
      <button type="submit">Create</button>
    </form>
  </div>
  