.product-table {
    width: 100%;
    table-layout: auto;
  }
  
  .product-table th, .product-table td {
    white-space: nowrap;
  }
  
  .product-table .mat-column-description {
    width: 500px;
    white-space: normal;
  }
  
  .product-icon {
    max-width: 50px;
    max-height: 50px;
  }
  