<header>
    <div class="container">
        <a routerLink="/" class="logo">Software Solution Technology</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a>Rajesh</a>
                    <div class="menu">
                        <a>Profile</a>
                        <a>Orders</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
                <li>
                    
                </li>
            </ul>
        </nav>
    </div>
</header>
