<p class="attract-text">Discover cutting-edge solutions and expert tech support at Computer Solution Technology – your one-stop destination for all things tech!</p>
<app-search></app-search>
<app-category></app-category>
<app-not-found [visible]="!products || !products.length" resetLinkText="Reset Search"></app-not-found>
<ul>
    <li *ngFor="let product of products">
        <a routerLink="/product/{{product.id}}">
            <img [src]="product.image" [alt]="product.name"/>
            <div class="content">
              <div class="name">
                {{product.name}}
              </div>
              <div class="price">
                <span>
                  {{product.price | currency}}
                </span>
              </div>
              <div class="description">
                {{product.description}}
              </div>
            </div>
        </a>
    </li>
</ul>
<div class="footer">
  <div class="footer-info">
    <p>For more info: </p>
    <p>Contact: CST</p>
    <p>Phone: 303-333-3333</p>
    <p>Email: <a href="mailto:cst@cst.com">cst&#64;cst.com</a></p>
  </div>
  <div class="footer-social">
    <a href="https://twitter.com" target="_blank" class="social-link"><i class="fab fa-twitter"></i></a>
    <a href="https://facebook.com" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a>
    <a href="https://youtube.com" target="_blank" class="social-link"><i class="fab fa-youtube"></i></a>
  </div>
</div>