html, body {
  height: 100%;
  margin: 0;
}

.attract-text {
  text-align: center;
  font-size: 1.5rem;
  color: #007bff;
  margin: 2rem 0;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.attract-text:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
}

li {
  margin: 1rem;
}

li a {
  height: 22rem;
  width: 18rem;
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  background: #fff;
  text-decoration: none;
}

li a:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

li a img {
  object-fit: fit;
  height: 14rem;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.1rem;
  color: #007bff;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-info {
  margin-bottom: 10px;
}

.footer-info p {
  margin: 5px 0;
}

.footer-info a {
  color: #fff;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.social-link:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .attract-text {
    font-size: 1rem;
    padding: 0.8rem;
  }

  li a {
    height: 13.2rem;
    width: 10.8rem;
  }

  li a img {
    height: 8.4rem;
  }

  .name {
    font-size: 0.96rem;
  }

  .price {
    font-size: 0.88rem;
  }

  .description {
    font-size: 0.72rem;
  }
}
